    /* Master Styles */

    body {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'roboto','mulish', 'lato', 'IBM Plex Sans Condensed', sans-serif;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr;
        position: relative;
        z-index: 1;
        height: 100%;
        width: 90%;
        padding-left: 38px;
        padding-right: 38px;
        padding-bottom: 38px;
        margin-left: 4%;
    }

    @media screen and (max-width: 1100px){
        .container{
        margin-left: 3%;
        padding-top: 3%;
        }
    }

    @media screen and (max-width: 1000px){
        .container{
        margin-left: 2%;
        }
    }

    @media screen and (max-width: 800px){
        .container{
        width:85%;
        margin-left: 0%;
        }
    }

    @media screen and (max-width: 600px){
        .container{
        margin-left: 0%;
        padding:15px;
        width:80%;
        }
    }

    .container2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container-photos {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        position: relative;
        z-index: 1;
        height: 100%;
        width: 90%;
        padding: 0px;
        margin-left: 7%;
        transform: translateY(-50px);
    }

    .content-wrapper {
        position: relative;
        z-index: 1;
        width: 100%;
    }



    /* Responsive Nav Bar Styles*/
    
    .nav-services {
        position: fixed;
        background-color: white;
        z-index: 2;
        width: 100%;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 8vh;
        font-family: 'Mulish', sans-serif;
        padding-top: 38px;
        padding-bottom: 38px;
        padding-left: 78px;
        padding-right: 78px;

    }

    .left-side .brand {
        letter-spacing: 7px;
        font-family: 'raleway', sans-serif;
        font-size: 1em;
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 18%;
        text-decoration: none;
        font-family: 'roboto', sans-serif;
        text-transform: uppercase;
        color: black;
        letter-spacing: 3px;
        font-size: .75em;

    }


    .nav-links a {
        text-decoration: none;
        color: black;
        
    }

    .nav-links a:hover{
        color: whitesmoke;
    }

    .nav-links li {
        list-style: none;
    }


    .hamburger {
        display: none;
    }

    .hamburger div{
        width: 20px;
        height: 1px;
        background-color: black;
        margin: 5px;
        cursor: pointer;
        transition: all 0.3s ease;

    }

    @media screen and (max-width: 1170px){
        .nav-links {
            width: 40%;
        }
    }

    @media screen and (max-width: 1050px){
        .right-side .brand {
            letter-spacing: 4px;
            font-size: .7em;
        }

        .nav-links {
            font-size: .7em;
            letter-spacing: 2px;
        }
    }

    @media screen and (max-width: 920px){
        .right-side .brand {
            font-size: .6em;
        }

        .nav-links {
            font-size: .6em;
            width: 43%;
        }
    }

    @media screen and (max-width: 900px){
        body {
            overflow-x: hidden;
        }

        .nav-links {
            z-index: 99999;
            position: absolute;
            right: 0px;
            height: 50vh;
            top: 18vh;
            background-color:whitesmoke;
            opacity: .5;
            flex-direction: column;
            align-items: center;
            width: 100%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
        }
        .nav-links li {
            opacity: 0;
        }
        .hamburger {
            display: block;
        }

        .nav-active {
            transform: translateX(0%);
        }

        @keyframes navLinkFade{
            from{
                opacity: 0;
                transform: translateX(50px);
            }
            to{
                opacity: 1;
                transform: translateX(0px);
            }
        }

        .toggle .line1{
            transform: rotate(-15deg) translate(-5px,6px);

        }
        .toggle .line2{
            opacity: 0;

        }
        .toggle .line3{
            transform: rotate(75deg) translate(-5px,-6px);
        }
    }

    @media screen and (max-width: 600px){

        .left-side .brand {
            font-size: .8em;
            letter-spacing: 1px;
        }

        .hamburger {
            width: 15px;
        }
    }

    @media screen and (max-width: 400px){

        .nav{
            padding: 30px;
        }
        .left-side .brand {
            font-size: .7em;
            letter-spacing: 0px;
        }

        .hamburger {
            width: 10px;
        }
    }


    /* Portfolio Styles*/

    .intro {
        width: 100%;
        height: 600px;
        box-sizing: border-box;
        position: relative;
    }
  
    .slideShowImages {
        position: absolute;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        width: 100%;
        height: 600px;
        object-fit: cover;
        z-index: -1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .portfolio-items-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;   
        margin-bottom: 5%;
        margin-top: 8%;
    }

    .portfolio-item-wrapper {
        position: relative;

    }

    .portfolio-photos-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        margin-top: 5%;
        margin-bottom: 5%;
        align-items: center;
    }


    .portfolio-photo-wrapper {
        position: relative;
    }


    .portfolio-img-background-1 {
        height: 250px;
        width: 90%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 15px;

    }

    .portfolio-img-background-2 {
        height: 350px;
        width: 80%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        margin-bottom: 15px;

    }

    .portfolio-img-background-3 {
        height: 270px;
        width: 190%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 15px;
    }

    @media screen and (max-width: 1100px){
        .portfolio-items-wrapper{
        display: none;
        }
    }

    .portfolio-img-background-4 {
        height: 450px;
        width: 200%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;  
    }

    @media screen and (max-width: 600px){
        .portfolio-img-background-4{
            height:250px;
        }
    }

    .portfolio-item--wrapper > .portfolio-img-background-about > div {
        height:350px;
        width:285%;
    }

    .logo-wrapper img {
        width: 50%;
        margin-bottom: 20px;
    }

    .img-text-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        padding: 40px;
    }

    .img-text-wrapper .subtitle-left {
        transition: 1s;
        font-weight: 400;
        color: transparent;
        font-family: 'Mulish', sans-serif;
        margin-bottom:45%;
        margin-right: 22%;
    }

    .img-text-wrapper:hover .subtitle-left {
        font-weight: 600;
        color: lightgray;

    }

    .img-text-wrapper .subtitle-center {
        transition: 1s;
        font-weight: 400;
        color: transparent;
        font-family: 'Mulish', sans-serif;
        margin-bottom: 50%;
        margin-right: 20%;
    }

    .img-text-wrapper:hover .subtitle-center {
        font-weight: 600;
        color: lightgray;
    }


    .img-text-wrapper .subtitle-right {
        transition: 1s;
        font-weight: 400;
        color: transparent;
        font-family: 'Mulish', sans-serif;
        margin-bottom: 45%;
        margin-right: 25%;
    }

    .img-text-wrapper:hover .subtitle-right {
        font-weight: 600;
        color: lightgray;

    }

    .img-darken {
        transition: 1s;
        filter: brightness(10%);
    }


    /*Footer Styles*/
    .footer {
        text-align: center;
        font-size: 0.8em;
        color:black;
        font-family: 'Mulish', sans-serif;
        letter-spacing: 2.5px;
        padding: 38px;    
    }

    @media screen and (max-width: 1195px){    
        .footer {
            font-size: .8em;
            letter-spacing: 2px;
        }
    }
    
    @media screen and (max-width: 1100px){    
        .footer {
            font-size: .7em;
        }
    }
    
    @media screen and (max-width: 980px){    
        .footer {
            font-size: .6em;
            letter-spacing: 1.75px;
        }
    }
    
    @media screen and (max-width: 875px){    
        .footer {
            font-size: .6em;
            letter-spacing: 1.5px;
        }    
    }

    @media screen and (max-width: 800px){    
        .footer {
            font-size: .6em;
            letter-spacing: 1px;
        }    
    }
    
    @media screen and (max-width: 645px){
        .footer {
            font-size: .5em;
            letter-spacing: .5px;
        }
    }
    
    @media screen and (max-width: 420px){
        .footer {
            font-size: .5em;
            letter-spacing: 1.5px;
            margin-right: 5%;
            margin-left: 5%;
        }
    }
  
    @media screen and (max-width: 325px){
        .footer {
            font-size: .5em;
            letter-spacing: 1px;
        }
    }

    @media screen and (max-width: 280px){
        .footer {
            font-size: .4em;
            letter-spacing: 1px;
        }
    }

    /* About Page Styles*/
    .img-text-wrapper .subtitleAbout {
        text-align: left;
        padding-bottom: 15%;
        padding-left: 90%;
    }

    .img-text-wrapper .subtitleAbout {
        transition: 1s;
        font-weight: 500;
        color: transparent;
    }

    .img-text-wrapper:hover .subtitleAbout {
        font-weight: 500;
        color: lightgray;
    }

    .img-darken {
        transition: 1s;
        filter: brightness(10%);
    }

    .img-text-wrapper .subtitleAbout h2 {
        transition: 1s;
        font-weight: 500;
        color: transparent;
    }

    .img-text-wrapper:hover .subtitleAbout h2 {
        font-weight: 500;
        color: white;
        padding-right: 150px;
        text-align: left;
    }

    .img-darken h2 {
        transition: 1s;
        filter: brightness(10%);
    }

    .portfolio-items-wrapper-about {
        display: grid;
        grid-template-columns: 1fr;   
        padding-left: 30px;
        padding-right: 30px;

    }


    .portfolio-img-background-about {
        height: 250px;
        width: 25%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 37.2%;
    }

    .portfolio-items-wrapper-about1 {
        display: grid;
        grid-template-columns: 1fr;   
        padding-left: 30px;
        padding-right: 30px;

    }


    .portfolio-img-background-about1 {
        height: 350px;
        width: 90%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        z-index: 0;
        opacity: .8;
    }

    .img-text-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
    }

    .logo-wrapper img {
        width: 50%;
        margin-bottom: 20px;
    }

    .demo-box-about {
        font-family: 'roboto', sans-serif; 
        height:130px;
        width: 95%;
        padding-top: 38px;
        padding-bottom: 38px;
        padding-left: 10px;
        padding-right:10px;
        position: relative;
        font-size: .8em;
        letter-spacing: 2px;
    }
    .demo-box-about h3{
        font-weight: 600;
        font-size: 1em;
    }

    @media screen and (max-width: 1050px){

        .subtitleAbout {
            font-size: .9em;
            letter-spacing: 2px;
        }
        .demo-box-about{
            margin-left: 0%;
            padding: 45px;
            width:92.5%;
        }
    }

    @media screen and (max-width: 960px){
        .img-text-wrapper .subtitleAbout {
            padding-bottom: 15%;
        }
        .subtitleAbout {
            font-size: .8em;
            letter-spacing: 2px;
        }
    }

    @media screen and (max-width: 768px){
        .portfolio-img-background-about {
            height: 500px;
        }

        .img-text-wrapper .subtitleAbout {
            margin-bottom: 5%;
        }
        .subtitleAbout {
            font-size: .8em;
            letter-spacing: 2px;
        }
        .demo-box-about{
            margin-left: 0%;
            padding: 45px;
            width:90%;
        }
    }

    @media screen and (max-width: 540px){
        .demo-box-about{
            height:240px;
            width:85%;
        }
    }

    @media screen and (max-width: 450px){
        .portfolio-img-background-about {
            height: 300px;
        }

        .img-text-wrapper .subtitleAbout {
            padding-bottom: 45%;
            padding-left: 0%;
            padding-right: 25%;
        }
        .subtitleAbout {
            font-size: .7em;
            letter-spacing: 2px;
        }
        .demo-box-about{
            margin-left: 0%;
            padding: 38px;
            width:80%;
            height:300px;
        }
    }

    @media screen and (max-width: 380px){

        .img-text-wrapper .subtitleAbout {
            padding-bottom: 45%;
            padding-left: 0%;
            padding-right: 50%;
        }
        .subtitleAbout {
            font-size: .7em;
            letter-spacing: 2px;
        }
    }

    @media screen and (max-width: 330px){

        .img-text-wrapper .subtitleAbout {
            padding-bottom: 55%;
            padding-left: 0%;
            padding-right: 65%;
        }
        .subtitleAbout {
            font-size: .6em;
            letter-spacing: 2px;
        }
        .demo-box-about{
            height: 350px;
        }
    }

    @media screen and (max-width: 280px){
        .portfolio-img-background-about {
            height: 250px;
        }

        .subtitleAbout {
            font-size: .5em;
            letter-spacing: 1px;
            margin-right: 20%;
        }
        .demo-box-about{
            height: 400px;
        }
    }

    /*Espanol Page Styles*/

    .img-text-wrapper .subtitleEspanol {
        text-align: left;
        padding-bottom: 45px;
        padding-left: 55px;
    }

    .img-text-wrapper .subtitleEspanol {
        transition: 1s;
        font-weight: 500;
        color: transparent;
    }   

    .img-text-wrapper:hover .subtitleEspanol {
        font-weight: 500;
        color: lightgray;
    }

    .img-text-wrapper .subtitleEspanol h2 {
        transition: 1s;
        font-weight: 500;
        color: transparent;
    }

    .img-text-wrapper:hover .subtitleEspanol h2 {
        font-weight: 500;
        color: white;
        padding-right: 150px;
        text-align: left;
    }

    .portfolio-items-wrapper-espanol {
        display: grid;
        grid-template-columns: 1fr;   
        padding-left: 30px;
        padding-right: 30px;

    }

    .portfolio-img-background-espanol {
        height: 400px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .subtitleEspanol a {
        color:black;
        text-decoration: none;
        transition: color 0.5s;
        font-weight: 400;
    }

    .subtitleEspanol {
        border-bottom: 1px solid transparent;
    }

    .subtitleEspanol a:hover {
        color:black;
        font-weight: 600;
    }

    .active-subtitleEspanol {
        border-bottom: 1px solid transparent;
    }

    @media screen and (max-width: 1600px){

        .subtitleEspanol {
            letter-spacing: 2px;
            margin-bottom: 6%;
        }

    }


    @media screen and (max-width: 1100px){

        .portfolio-img-background-espanol {
            height: 400px;
        }

        .subtitleEspanol {
            font-size: .9em;
            letter-spacing: 2px;
            margin-bottom: 6%;
            margin-right: 7%;
        }

    }


    @media screen and (max-width: 1020px){

        .subtitleEspanol {
            margin-bottom: 7%;
        }

    }

    @media screen and (max-width: 900px){

        .subtitleEspanol {
            font-size: .8em;
        }

        .mail-form-text {
            display: none;
        }
    }

    @media screen and (max-width: 800px){
        .portfolio-img-background-espanol {
            height: 450px;
        }

        .subtitleEspanol {
            margin-bottom:10%;
        }
    }

    @media screen and (max-width: 700px){
        .portfolio-img-background-espanol {
            height: 500px;
        }
    }

    @media screen and (max-width: 650px){
        .portfolio-img-background-espanol {
            height: 550px;
        }

        .subtitleEspanol {
            font-size: .7em;
            margin-right:10%;
            margin-bottom:15%;
        }
    }


    @media screen and (max-width: 550px){

        .subtitleEspanol {
            margin-right:20%;
        }

        
        .email {
            margin-right: 15%; 
        }  
    }

    @media screen and (max-width: 450px){



        .img-text-wrapper .subtitleEspanol {
            margin-bottom: 20%;
            margin-right: 65%;
        }

        .email .mail-form-submit{ 
            align-items: center;
            margin-left: 13%;
            margin-right: 0%;
            width: fit-content;
            width:60%;

        }

    }

    @media screen and (max-width: 380px){
        .img-text-wrapper .subtitleEspanol {
            margin-bottom: 20%;
            margin-right: 75%;
        }

        .email .mail-form-submit{ 
            align-items: center;
            margin-left: 11%;
            margin-right: 0%;
            width: fit-content;
            width:60%;

        }
        
    }

    @media screen and (max-width: 375px){
        .img-text-wrapper .subtitleEspanol {
            margin-left: 5%;
        }


        
    }

    @media screen and (max-width: 360px){
        .subtitleEspanol {
            margin-right: 80%;
        }

   
    }

    @media screen and (max-width: 330px){

        .portfolio-img-background-espanol {
            height: 450px;
        }

        .img-text-wrapper .subtitleEspanol {
            margin-right: 95%;
        }
        .subtitleEspanol {
            font-size: .6em;
        }

        .email .mail-form-submit{ 
            align-items: center;
            margin-left: 3%;
            margin-right: 0%;
            width: fit-content;
            width:30%;

        }

 
        
    }

    @media screen and (max-width: 280px){
        .portfolio-img-background-espanol {
            height: 460px;
        }

        .img-text-wrapper .subtitleEspanol {
            margin-bottom: 25%;
            margin-right: 115%;
        }

 
        
        .email .form-control-submit {
            width: 110%;
        }
    }

    /*Contact Page Styles*/

    
    .img-text-wrapper .subtitleContact {
        transition: 1s;
        font-weight: 500;
        color: transparent;
    }

    .img-text-wrapper:hover .subtitleContact {
        font-weight: 500;
        color: white;
        font-size:1.4em;
        padding-bottom: 20px;
    }

    .img-text-wrapper .subtitleContact h2 {
        transition: 1s;
        font-weight: 500;
        color: transparent;
        border-bottom: 1px solid transparent;
    }

    .img-text-wrapper:hover .subtitleContact h2 {
        font-weight: 500;
        color:white;
        padding-left: 45px;
        text-align: center;
        border-bottom: 1px solid transparent;
    }


    .portfolio-items-wrapper-contact {
        display: grid;
        grid-template-columns: 1fr;   
        padding-left: 30px;
        padding-right: 30px;
        border-bottom: 1px solid transparent;

    }


    .portfolio-img-background-contact {
        height: 400px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-bottom: 1px solid transparent;
    }

    .img-text-wrapper {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        border-bottom: 1px solid transparent;
    }

    .subtitleContact a {
        color:lightgray;
        text-decoration: none;
        transition: color 0.5s;
        font-weight: 400;
        border-bottom: transparent;
    }

    .subtitleContact:hover {
        border-bottom: 1px solid transparent;
    }

    .subtitleContact a:hover {
        color:lightgray;
        font-weight: 600;
        border-bottom: transparent;
    }

    .active-subtitleContact {
        border-bottom: 1px solid transparent;
    }

    @media screen and (max-width: 1050px){
        .portfolio-img-background-contact {
            height: 300px;
        }

    }

    @media screen and (max-width: 768px){
        .portfolio-img-background-contact {
            height: px;
        }
    }

    /*Email Form Styles*/
    .email-services{
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 2%;
    }
    .email {
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 2%;
        position: relative;
    }

    .mail-form-text {
        font-size: 1em;
        color:black;
        font-weight: 400;
        text-align: center;
        font-family: 'roboto', sans-serif; 
        margin-bottom: 5%;
       
    }

    .mail-form-submit {
        text-align: center;
        color: white;
        font-family: "roboto", sans-serif; 
        font-size: .9em;
        color:white;
        font-weight: 400;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-left: 25%;
        position: relative;
    }

    form {
        transition: all 4s ease-in-out;
        text-align: center;
        font-family: 'roboto', sans-serif; 
    }

    .form-control {
        width: 50%;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 0.5px solid black;
        color:black;
        font-size: .9em;
        font-family: 'roboto', sans-serif; 
    }

    input {
        height:45px;
        text-align: center;
    }

    .form-control-submit {
        background: transparent;
        border-color:white;
        border: box;
        outline: .5px solid black;
        border-bottom: 1px solid transparent;
        border-right: transparent;
        color:black;
        font-size: .9em;
        letter-spacing:2px;
        height:50px;
        width: 160px;
        margin-top: 15%;
        text-align: center;
        font-family: 'roboto', sans-serif; 
        text-decoration: none;
    }

    .mail-form-submit {
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
    @media screen and (max-width: 768px){
        .email .mail-form-submit{
            width:160%;
            margin-left: 5%;
            padding: 40px;
        }
    }
    @media screen and (max-width: 540px){
        .email .mail-form-submit{
            width:185%;
            margin-left: 0%;
            padding: 20px;
        }
    }
    @media screen and (max-width: 420px){
        .email .mail-form-submit{
            width:180%;
            margin-left: 0%;
            padding: 25px;
        }
    }
    @media screen and (max-width: 320px){
        .email .mail-form-submit{
            width:160%;
            margin-left: 0%;
            padding: 5px;
        }
    }
    @media screen and (max-width: 280px){
        .email .mail-form-submit{
            width:160%;
            margin-left: 4%;
            padding: 5px;
        }
    }

    /*Demo-Box Styles*/
    .demo-box-employment-law-1 {
        font-family: 'roboto', sans-serif; 
        height:1000px;
        width: 90%;
        padding: 38px;
        position: relative;
    }

    .demo-box-employment-law-1 h2 {
        font-size: 1em;
        font-weight: 600;
    }

    .demo-box-employment-law-1 h3 {
        font-size: 1em;
        font-weight: 400;
    }

    .demo-box-employment-law-1 p {
        font-size: .9em;
        font-weight: 400;
    }

