    /* Master Styles */
    /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px transparent;
    border-radius: 0px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

    body {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        overflow-x: hidden;
        font-family: 'mulish', sans-serif, 'lato', sans-serif;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        z-index: 1;
        height: 100%;
        width: 90%;
        padding-left: 38px;
        padding-right: 38px;
        padding-bottom: 38px;
        margin-left: 4%;
    }

    @media screen and (max-width: 1100px){
        .container{
        margin-left: 3%;
        padding-top: 3%;
        }
    }

    @media screen and (max-width: 1000px){
        .container{
        margin-left: 2%;
        }
    }

    @media screen and (max-width: 800px){
        .container{
        width:85%;
        margin-left: 0%;
        }
    }

    @media screen and (max-width: 600px){
        .container{
        margin-left: 0%;
        padding:15px;
        width:80%;
        }
    }

    .container2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        transform: translateY(-20px);
    }

    .container3{
        display: grid;
        z-index: 9999999999;
        grid-template-columns: 1fr 1fr;
        transform: translateY(-20px);
    }

    .container-photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        z-index: 1;
        height: 100%;
        width: 90%;
        padding: 0px;
        margin-left: 7%;
        transform: translateY(-50px);
    }

    .container-gsap {
        position: absolute;
        z-index: -1;
        background-color: transparent;
        max-height: 1000px;
    }
    
    .content-wrapper {
        position: relative;
        z-index: 1;
        width: 100%;
    }



    /* Responsive Nav Bar Styles*/
    .nav {
        position: fixed;
        display: inline;
        display: flex;
        background-color: white;
        z-index: 9999999999999999999;
        max-width: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        min-height: 8vh;
        font-family: 'mulish', sans-serif, 'lato', sans-serif, Arial, Helvetica, sans-serif;
        padding-left: 20px;
        padding-right: 0px;
        padding-top: 5px;
    }

    .left-side .brand {
    display: flex;
    display: inline-flex;
    text-align: center;
    letter-spacing: 6px;
    font-size: 1.2em;
    font-weight: 200;
    text-transform: uppercase;
}

    .left-side .brand a {
    text-decoration: none;
    color:  black;
    font-family: 'mulish', serif;
    animation: color-change 6000s infinite ease-in-out;
}

    .left-side .brand li {
        list-style: none;
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 19%;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 1.2em;
        font-weight: 200;
    }

    .nav-links a {
        text-decoration: none;
        color:  black;
        font-family: 'mulish', sans-serif;
        animation: color-change 6000s infinite ease-in-out;
    }

    @keyframes color-change {
        0% { color:transparent; }
        .05% { color:black; }
        .25% { color: rgb(226, 171, 143); }
        .35% { color: rgb(183, 204, 187); }
        .40% { color: rgb(148, 175, 153); }
        .45% { color: rgb(11, 54, 41); } 
        .60% { color:rgb(5, 3, 70); }
        .70% { color:rgb(168, 181, 224); }
        .80% { color:rgb(189, 204, 247); }
        .95% { color:black; }
        100% { color: black; }       
      }

    .nav-links li {
        list-style: none;
    }


    .hamburger {
        display: none;
    }

    .hamburger div{
        width: 90px;
        height: 20px;
        background-color:rgb(238, 233, 211);
        margin: 2px;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 0px;
    }

    @media screen and (max-width: 1170px){
        .nav-links {
            width: 40%;
        }
    }

    @media screen and (max-width: 1050px){
        .right-side .brand {
            letter-spacing: 4px;
            font-size: .7em;
        }

        .nav-links {
            font-size: .7em;
            letter-spacing: 2px;
        }
    }

    @media screen and (max-width: 920px){
        .right-side .brand {
            font-size: .6em;
        }


    }

    @media screen and (max-width: 1200px){
        body {
            overflow-x: hidden;
        }

        .nav-links {
            z-index: 99999;
            position: absolute;
            right: 0px;
            height: 15vh;
            top: 25vh;
            background-color: transparent;
            opacity: 1;
            flex-direction: row;
            align-items: center;
            width: 100%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            font-family: 'mulish', sans-serif;
            
        }
        .nav-links li {
            opacity: 0;
        }
        .hamburger {
            display: block;
        }

        .nav-active {
            transform: translateX(0%);
        }

        @keyframes navLinkFade{
            from{
                opacity: 0;
                transform: translateX(50px);
            }
            to{
                opacity: 1;
                transform: translateX(0px);
            }
        }

        .toggle .line1{
            transform: rotate(120deg) translate(-5px,6px);
            opacity: 0;

        }
        .toggle .line2{
            opacity: 0;

        }
        .toggle .line3{
            transform: rotate(-90deg) translate(-5px,-6px);
            opacity: 0;
        }
    }

    @media screen and (max-width: 1100px){

        .left-side .brand {
            font-size: .9em;
        }
        .nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            min-height: 8vh;
            font-family: 'mulish', sans-serif;
            padding-top: 18%;
            padding-bottom: 5%;
            padding-left: 40%;
            padding-right: 40%;
    
        }

    }
    @media screen and (max-width: 900px){

        .left-side .brand {
            font-size: .9em;
        }
        .nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            min-height: 8vh;
            font-family: 'mulish', sans-serif;
            padding-top: 18%;
            padding-bottom: 5%;
            padding-left: 35%;
            padding-right: 35%;
    
        }

    }

    @media screen and (max-width: 800px){

        .nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            min-height: 8vh;
            font-family: 'mulish', sans-serif;
            padding-top: 20%;
            padding-bottom: 5%;
            padding-left: 32%;
            padding-right: 32%;
    
        }

    }

    @media screen and (max-width: 600px){

        .left-side .brand {
            font-size: .8em;
            letter-spacing: 1px;
        }
        .nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            min-height: 8vh;
            font-family: 'mulish', sans-serif;
            padding-top: 25%;
            padding-bottom: 5%;
            padding-left: 38%;
            padding-right: 38%;
    
        }

    }

    @media screen and (max-width: 500px){

        .left-side .brand {
            font-size: .8em;
            letter-spacing: 1px;
        }
        .nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            min-height: 8vh;
            font-family: 'mulish', sans-serif;
            padding-top: 30%;
            padding-bottom: 5%;
            padding-left: 38%;
            padding-right: 38%;
    
        }

    }

    @media screen and (max-width: 400px){
        .left-side .brand {
            font-size: .6em;
        }
        .nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            min-height: 8vh;
            font-family: 'mulish', sans-serif;
            padding-top: 5%;
            padding-bottom: 5%;
            padding-left: 38%;
            padding-right: 38%;
    
        }

        .nav-links { 
            flex-direction: column;  
            height: 30vh;
            top: 12vh;
        }

        .hamburger div{
            width: .5px;
            height: 5px;

    
        }

        
    }


    /* Portfolio Styles*/

    .intro {
        width: 100%;
        height: 600px;
        box-sizing: border-box;
        position: relative;
    }
  
    .slideShowImages {
        position: absolute;
        opacity: 0;
        transition: opacity 4s ease-in-out;
        width: 100%;
        height: 600px;
        object-fit: cover;
        z-index: -1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 0px;
    }

    .introContact {
        width: 100%;
        height: 700px;
        box-sizing: border-box;
        position: relative;
    }
  
    .slideShowImagesContact {
        position: absolute;
        opacity: 0;
        transition: opacity 2s ease-in-out;
        width: 66.4%;
        height: 700px;
        margin: 211px;
        margin-top: 211px;
        object-fit: cover;
        z-index: -1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 0px;
    }
    .introServices {
        width: 100%;
        height: 700px;
        box-sizing: border-box;
        position: relative;
    }
  
    .slideShowImagesServices {
        position: absolute;
        opacity: 0;
        transition: opacity 2s ease-in-out;
        width: 200%;
        height: 400px;
        object-fit: cover;
        z-index: -1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 0px;
    }

    .portfolio-items-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;   
    }

    .portfolio-item-wrapper {
        position: relative;
    }

    .portfolio-img-background-1 {
        height: 250px;
        width: 90%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 15px;

    }

    .portfolio-img-background-2 {
        height: 450px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    }

    
    .portfolio-img-background-2-1 {
        height: 500px;
        width: 100%;
        overflow-x: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-left: 0px;
        margin-bottom: 40px;
    }

    .portfolio-img-background-2-1-1 {
    height: 500px;
    width: 110%;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio-img-background-2-1-2 {
    height: 500px;
    width: 84.1%;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    margin-left: 100px;
    transform: translateY(-70px);
}
.portfolio-img-background-2-1-3 {
    height: 400px;
    width: 90%;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 120px;
    transform: translateY(-300px);
}

    .portfolio-img-background-2-2 {
        height: 500px;
        width: 66.4%;
        margin-left: 211px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    }

    .portfolio-img-background-2-3 {
        height: 900px;
        width: 66.4%;
        margin-left: 211px;
        margin-top: 10px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .portfolio-img-background-2-3-3 {
        height: 900px;
        width: 66.4%;
        margin-left: 211px;
        margin-top: 10px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .portfolio-img-background-3 {
        height: 700px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: translateY(104px);
    }

    .portfolio-img-background-3-1 {
        height: 700px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .portfolio-img-background-4 {
        height: 500px;
        width: 130%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: translateX(210px);  
    }
    .portfolio-img-background-5 {
        height: 600px;
        width: 130%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-left: 10px; 
    }    
    .portfolio-img-background-6 {
        height: 620px;
        width: 130%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 210px;  
        transform: translateY(-90px);
    }    
    .portfolio-img-background-7 {
        height: 520px;
        width: 130%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-left: 10px; 
        transform: translateY(10px);  
    }
    .portfolio-img-background-8 {
        height: 300px;
        width: 267%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 210px;
        transform: translateY(-80px);  
    }

    .img-darken {
        transition: 1s;
        filter: brightness(150%);
    }

    /*Text Styles*/

    .text {
        position: sticky;
        z-index: 5;
        max-width: 100%;
        width: 100%;
        background-color: white;
        opacity:1;
    }
    
    .intro-text h1{
        font-size: 3em;  
        letter-spacing: 6px;  
        font-family: 'mulish', sans-serif, 'lato', sans-serif, Arial, Helvetica, sans-serif;
        font-weight: 200;
        text-align: center;
        line-height: 80px;
        text-transform:uppercase;
        background-color: transparent;
        padding:80px;
    }

    .sub-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .text h1 {
        font-size: 3em;  
        letter-spacing: 10px;  
        font-family: 'mulish',sans-serif, 'lato', sans-serif, Arial, Helvetica, sans-serif;
        font-weight: 300;
        text-align: center;
        transform: translateY(-40px);
        line-height: 80px;
        text-transform: uppercase;
    }

    .text h2{
        width: 60%;
        font-size: 1em;  
        font-weight: 300;
        letter-spacing: 3px;  
        line-height: 36px;
        font-family: 'mulish',sans-serif, 'lato', sans-serif, Arial, Helvetica, sans-serif;
        color: rgb(8, 8, 8);
        text-align: left;
        padding-left:125px;
        padding-top: 140px;
    }

    .text h3{
        width: 60%;
        font-size: 1em;  
        letter-spacing: 3px;  
        line-height: 36px;
        font-family:  'mulish',sans-serif, 'lato', sans-serif, Arial, Helvetica, sans-serif;
        font-weight: 300;
        color: rgb(8,8,8);
        text-align: left;
        padding-left: 180px;
        padding-top: 90px;
    }

    .text h4{
        width: 85%;
        font-size: 1.8em;  
        font-weight: 200;
        letter-spacing: 4px; 
        line-height: 60px; 
        font-family:  'mulish',sans-serif, 'lato', sans-serif, Arial, Helvetica, sans-serif;
        color: rgb(8,8,8);
        text-align: center;
        padding-left: 100px;
        padding-right: 50px;
        padding-top: 150px;
        padding-bottom: 150px;
        text-transform: uppercase;
    }
    .text h5{
        width: 60%;
        font-size: 1em;  
        letter-spacing: 3px;
        line-height: 26px;  
        font-family:  'mulish',sans-serif, 'lato', sans-serif, Arial, Helvetica, sans-serif;
        font-weight: 500;
        color: rgb(8,8,8);
        text-align: center;
        padding-left: 180px;
        transform:translateY(-120px) ;
    }

    /*Footer Styles*/
    .footer {
        position: relative;
        z-index: 7;
        text-align: center;
        font-size: .7em;
        color:black;
        font-family:  'mulish',sans-serif, 'lato', sans-serif, Arial, Helvetica, sans-serif;
        letter-spacing: 3px;
        justify-content: space-evenly;
        text-transform: uppercase;
    }

    /*Email Form Styles*/
    .email-services{
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 2%;
    }
    .email {
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 2%;
        position: relative;
        transform: translateY(70px);
    }

    .mail-form-text {
        font-size: 1em;
        color:black;
        font-weight: 400;
        text-align: center;
        font-family:  'mulish',sans-serif, 'lato', sans-serif, Arial, Helvetica, sans-serif;
        margin-bottom: 5%;
       
    }

    .mail-form-submit {
        text-align: center;
        color: white;
        font-family: 'mulish',sans-serif, 'lato', sans-serif, Arial, Helvetica, sans-serif;
        font-size: .9em;
        color:white;
        font-weight: 400;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-left: 25%;
        position: relative;
    }

    form {
        transition: all 4s ease-in-out;
        text-align: center;
        font-family: 'roboto', sans-serif; 
    }

    .form-control {
        width: 80%;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 0.5px solid rgb(236, 236, 228);
        color:black;
        font-size: .9em;
        font-family:  'mulish',sans-serif, 'lato', sans-serif, Arial, Helvetica, sans-serif;
    }

    input {
        height:45px;
        text-align: center;
    }

    .form-control-submit {
        background: transparent;
        border-color:white;
        outline: .5px solid black;
        border-bottom: 1px solid transparent;
        border-right: transparent;
        color:black;
        font-size: .9em;
        letter-spacing:2px;
        height:40px;
        width: 250px;
        margin-top: 15%;
        text-align: center;
        font-family:  'mulish',sans-serif, 'lato', sans-serif, Arial, Helvetica, sans-serif; 
        text-decoration: none;
    }

    .mail-form-submit {
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
    @media screen and (max-width: 768px){
        .email .mail-form-submit{
            width:160%;
            margin-left: 5%;
            padding: 40px;
        }
    }
    @media screen and (max-width: 540px){
        .email .mail-form-submit{
            width:185%;
            margin-left: 0%;
            padding: 20px;
        }
    }
    @media screen and (max-width: 420px){
        .email .mail-form-submit{
            width:180%;
            margin-left: 0%;
            padding: 25px;
        }
    }
    @media screen and (max-width: 320px){
        .email .mail-form-submit{
            width:160%;
            margin-left: 0%;
            padding: 5px;
        }
    }
    @media screen and (max-width: 280px){
        .email .mail-form-submit{
            width:160%;
            margin-left: 4%;
            padding: 5px;
        }
    }


